.navbar_logo {
  height: 100px;
  width: 120px;
}
.navbar-brand {
  height: 60px;
}
.nav-item .nav-link {
  color: white;
  font-weight: 600;
}.hero-section
.nav-logout-btn {
  font-weight: 600;
  border: 1px solid white;
  padding: 0.25rem 0.85rem;
}
.nav-logout-btn:hover {
  border: 1px solid black;
  background-color: black;
}
.hero-section {
  background-image: url("/assets/images/landing_page_background.svg");
  background-size: cover;
  height: 100vh;
}
.nav-input::placeholder {
  color: white;
}
.home-img {
  max-width: auto;
  height: 100%;
  max-height: 500px;
}
.store-btn img {
  height: 50px;
  width: 160px;
}
.laptop-img {
  max-width: auto;
  height: 100%;
  max-height: 150px;
}
.adventure-section {
  background-image: url("/assets/images/landing_page_background_3.svg");
  background-size: cover;
  background-position: fixed;
  background-position: center;
  height: 100vh;
}

.footer {
  height: 50vh;
  border-top: 1px solid white;
}

.footer-col ul li {
  text-decoration: none;
  color: white;
  padding: 0.25rem 0rem;
}

.footer-col ul li a {
  text-decoration: none;
  color: white;
  padding: 1.15rem 1.5rem;
}
.footer-col-2 ul li {
  text-decoration: none;
  color: white;
  padding: 0.25rem 0rem;
}

.footer-col-2 ul li a {
  text-decoration: none;
  color: white;
  padding: 1.15rem 0.15rem;
}

@media only screen and (max-width: 768px) and (min-width: 300px){
  .hero-section {
    background-image: url("/assets/images/landing_page_background.svg");
    background-size: cover;
    height: 70vh;
  }
  .footer {
    height: 100%;
    border-top: 1px solid white;
  }
  .footer-blog {
    height: 100%;
    border-top: 1px solid white;
  }
}